<div class="container">
	<h1 class="display-6">Lista de marcas</h1>
	<button class="btn-base"><a class="enlace" href="/marca/c">Crear nueva marca</a></button>
	<button class="btn-cancelar"><a class="enlace" href="/">Volver</a></button>
</div>
</div>
	<table id="tabla" class="display tabla">
		<thead>
			<th>Nombre</th>
			<th>Modificar</th>
			<th>Borrar</th>
		</thead>
		<tr th:each="marca:${marcas}">
			<td th:text="${marca.nombre}"></td>
			<td>
				<form action="u" method="GET">
					<input type="hidden" name="id" th:value="${marca.id}">
					<button onclick="submit()"><img src="/img/edit.png" height="20px" width="20px"></button>
				</form>
			</td>
			<td>
				<form action="d" method="POST">
					<input type="hidden" name="id" th:value="${marca.id}">
					<button onclick="submit()"><img src="/img/delete.png" height="20px" width="20px"></button>
				</form>
			</td>
		</tr>
	</table>	
