<meta charset=UTF-8>
<style>
	input:valid{
		border-color: black;
	}

	input:invalid{
		border-color:red;
	}
	.nullClass{
		border-color: red;
	}
	*:focus { outline: none; } 
</style>
<script type="text/javascript">
	function validarFechaInicio(){
	var ret;
	if (document.getElementById("fechaInicio").value==""){
		document.getElementById("fechaInicio").setAttribute("style","border-color:red");
		ret=false;
	}else{
		document.getElementById("fechaInicio").setAttribute("style","border-color:black");
		ret=true;
	}
	
	return ret;
	}
	
	function validarFechaFin(){
	var ret;
	if (document.getElementById("fechaFin").value==""){
		document.getElementById("fechaFin").setAttribute("style","border-color:red");
		ret=false;
	}else{
		document.getElementById("fechaFin").setAttribute("style","border-color:black");
		ret=true;
	}
	
	
	return ret;
	}
	
	function validarDifFechas(){
	var ret;
	var fechaI=new Date(document.getElementById("fechaInicio").value);
	var fechaF=new Date(document.getElementById("fechaFin").value);
	
	if(fechaI>fechaF){
		ret=false;
		document.getElementById("fechaInicio").setAttribute("style","border-color:red");
	}else{
		ret=true;
	}
		return ret;
	}
	
	
	
	function validarCocheAlquilado(){
	var ret;
		if(document.getElementById("idCocheAlquilado").selectedIndex=="0"){
		document.getElementById("idCocheAlquilado").setAttribute("style","border-color:red");	
		ret=false;
		}else{
			document.getElementById("idCocheAlquilado").setAttribute("style","border-color:black");
			ret=true;
		}
		
		return ret;
	}
	function validarUbicacionInicio(){
	var ret;
		if(document.getElementById("idUbicacionInicio").selectedIndex=="0"){
		document.getElementById("idUbicacionInicio").setAttribute("style","border-color:red");	
		ret=false;
		}else{
			document.getElementById("idUbicacionInicio").setAttribute("style","border-color:black");
			ret=true;
		}
		
		return ret;
	}
	function validarUbicacionFin(){
	var ret;
		if(document.getElementById("idUbicacionFin").selectedIndex=="0"){
		document.getElementById("idUbicacionFin").setAttribute("style","border-color:red");	
		ret=false;
		}else{
			document.getElementById("idUbicacionFin").setAttribute("style","border-color:black");
			ret=true;
		}
		
		return ret;
		
	}

	function validarPuntuacion(){
	var ret;
		if(document.getElementById("puntuacion").value==""){
		document.getElementById("puntuacion").setAttribute("style","border-color:red");	
		ret=false;
		}else{
			document.getElementById("puntuacion").setAttribute("style","border-color:black");
			ret=true;
		}
		
		return ret;
	}
	
	function validar(){
		validarFechaInicio();
		validarFechaFin();
		//validarCocheAlquilado();
		//validarUbicacionInicio();
		validarUbicacionFin();
		//validarPuntuacion();
		if(validarFechaInicio()==true && validarFechaFin()==true && validarDifFechas()==true && /*validarCocheAlquilado()==true && validarUbicacionInicio()==true &&*/ validarUbicacionFin()==true /*&& validarPuntuacion()==true*/){
			document.getElementById("enviar").disabled=false;
		}else{
			document.getElementById("enviar").disabled=true;
		}
	}
</script>
<div class="container">
	<h1>Nuevo alquiler</h1>
	
	<form method="post">
		<label for="fechaInicio">FECHA INICIO: </label>
		<input type="date" name="fechaInicio" id="fechaInicio" onchange="validar()" required/>
		<br/>
		<label for="fechaFin">FECHA FIN: </label>
		<input type="date" name="fechaFin" id="fechaFin" onchange="validar()"required/>
		<br/>
		<!--<label for="idCocheAlquilado">COCHE ALQUILADO: </label>-->
		<div th:each="coche:${coches}" th:if="${coche.id == T(Long).parseLong(param.idCoche)}">
			<span th:text="|COCHE ALQUILADO ${coche.modelo.marca.nombre} - ${coche.modelo.nombre} - ${coche.matricula} - ${coche.autonomiaRestante} Km(restante)|"></span><br/>
			<span th:text="|UBICADO ACTUALMENTE EN: ${coche.ubicacion.direccion}|"></span>
		</div>
		<br/>
		<label for="idUbicacionFin">UBICACIÓN DE FINALIZACIÓN: </label>
		<select name="idUbicacionFin" id="idUbicacionFin" required onchange="validar()" class="nullClass"> 
			<option value="-1" selected>- - - -</option>
			<option th:each="ubicacion:${ubicaciones}" th:text="${ubicacion.direccion}" th:value="${ubicacion.idUbicacion}">
			</option>
		</select>
		<br/>
		
		<input class="btn-base" type="submit" id="enviar" disabled/>
		<input class="btn-cancelar" type="button" value="Cancelar" onclick="location.href='r'">
	</form>
</div>