<meta charset=UTF-8>
<div class="container">
	<h1 class="display-6">Listado de alquileres</h1>
	<button class="btn"><a href="/alquiler/c">Crear nuevo alquiler</a></button>
	<button class="btn"><a href="/">Volver</a></button>


	<table class="table">
		<tr>
			<th>Fecha inicio</th>
			<th>Fecha fin</th>
			<th>Ubicación de inicio</th>
			<th>Ubicación de finalización</th>
			<th>Puntuación</th>
			<th>Modificar</th>
			<th>Borrar</th>
		</tr>

		<tr th:each="alquiler:${alquileres}">
			<td th:text="${#temporals.format(alquiler.fechaInicio, 'dd/MM/yyyy   HH:mm')}"></td>
			<td th:text="${#temporals.format(alquiler.fechaFin, 'dd/MM/yyyy   HH:mm')}"></td>
			<td th:text="${alquiler.iniciaEn?.direccion}"></td>
			<td th:text="${alquiler.finalizaEn?.direccion}"></td>
			<td th:text="${alquiler.puntuacion}"></td>
			<td>

				<form action="/alquiler/u">
					<input type="hidden" name="idAlquiler" th:value="${alquiler.idAlquiler}" />
					<button onclick="submit()" onmouseover="" style="cursor: pointer;"><img src="/img/edit.png" height="20px" width="20px">
					</button>
				</form>
			</td>
			<td>
				<form action="/alquiler/d">
					<input type="hidden" name="idAlquiler" th:value="${alquiler.idAlquiler}" />
					<button onclick="submit()" onmouseover="" style="cursor: pointer;"><img src="/img/delete.png" height="20px" width="20px">
					</button>
				</form>

			</td>
		</tr>


	</table>

</div>