<meta charset=UTF-8>
<style>
	input:valid{
		border-color: black;
	}

	input:invalid{
		border-color:red;
	}
	.nullClass{
		border-color: red;
	}
	*:focus { outline: none; } 
</style>
<script type="text/javascript">
	function validarFechaInicio(){
	var ret;
	if (document.getElementById("fechaInicio").value==""){
		document.getElementById("fechaInicio").setAttribute("style","border-color:red");
		ret=false;
	}else{
		document.getElementById("fechaInicio").setAttribute("style","border-color:black");
		ret=true;
	}
	
	return ret;
	}
	
	function validarFechaFin(){
	var ret;
	if (document.getElementById("fechaFin").value==""){
		document.getElementById("fechaFin").setAttribute("style","border-color:red");
		ret=false;
	}else{
		document.getElementById("fechaFin").setAttribute("style","border-color:black");
		ret=true;
	}
	
	return ret;
	}
	
	function validarDifFechas(){
	var ret;
	var fechaI=new Date(document.getElementById("fechaInicio").value);
	var fechaF=new Date(document.getElementById("fechaFin").value);
	
	if(fechaI>fechaF){
		ret=false;
		document.getElementById("fechaInicio").setAttribute("style","border-color:red");
	}else{
		ret=true;
	}
		return ret;
	}
	
	function validarPuntuacion(){
	var ret;
		if(document.getElementById("puntuacion").value==""){
		document.getElementById("puntuacion").setAttribute("style","border-color:red");	
		ret=false;
		}else{
			document.getElementById("puntuacion").setAttribute("style","border-color:black");
			ret=true;
		}
		
		return ret;
	}
	
	function validar(){
		validarFechaInicio();
		validarFechaFin();
		validarPuntuacion();
		validarDifFechas();
		if(validarFechaInicio()==true && validarFechaFin()==true && validarPuntuacion()==true && validarDifFechas()==true){
			document.getElementById("enviar").disabled=false;
		}else{
			document.getElementById("enviar").disabled=true;
		}
	}
</script>
<div class="container">
	<h1>Editar alquiler</h1>
	
	<form method="post">
		<label for="fechaInicio">FECHA INICIO: </label>
		<input type="datetime-local" th:value="${alquiler.fechaInicio}" name="fechaInicio" id="fechaInicio" onchange="validar()"  required />
		<br/>
		<label for="fechaFin">FECHA FIN: </label>
		<input type="datetime-local" th:value="${alquiler.fechaFin}" name="fechaFin" id="fechaFin" onchange="validar()" required />
		<br/>
		<label for="idCocheAlquilado">COCHE ALQUILADO: </label>
		<select name="idCocheAlquilado" id="idCocheAlquilado" required >
			<option th:each="coche:${coches}" th:if="${coche.id == coche_id}" th:text="|${coche.modelo.marca.nombre} - ${coche.modelo.nombre} - ${coche.matricula} - ${coche.autonomiaRestante}|" th:selected="${coche.matricula == alquiler.coche.matricula}" th:value="${coche.id}">
			</option>
		</select>
		<br/>
		<label for="idUbicacionInicio">UBICACIÓN DE INICIO: </label>
		<select name="idUbicacionInicio" id="idUbicacionInicio" required >
			<option th:each="ubicacion:${ubicaciones}" th:text="${ubicacion.direccion}" th:selected= "${ubicacion.direccion == alquiler.iniciaEn.direccion}" th:value="${ubicacion.idUbicacion}">
			</option>
		</select>
		<br/>
		<label for="idUbicacionFin">UBICACIÓN DE FINALIZACIÓN: </label>
		<select name="idUbicacionFin" id="idUbicacionFin" required > 
			<option th:each="ubicacion:${ubicaciones}" th:text="${ubicacion.direccion}" th:selected= "${ubicacion.direccion == alquiler.finalizaEn.direccion}" th:value="${ubicacion.idUbicacion}">
			</option>
		</select>
		<br/>
		<label for="puntuacion">PUNTUACIÓN: </label>
		<input type="number" id="puntuacion" name="puntuacion" th:value="${alquiler.puntuacion}" max="10" min="0" oninput="validar()" required/>
		<br/>
		
		<input type="hidden" name="idAlquiler" th:value="${alquiler.idAlquiler}"/>
		<input class="btn-base" type="submit" id="enviar"/>
		<input class="btn-cancelar" type="button" value="Cancelar" onclick="location.href='r'">
	</form>
</div>