<meta charset=UTF-8>
<style>
 #cabecera{
 width:100%;left:0;top:0;position:fixed;z-index:1;padding-bottom:10;background-color:white;-webkit-box-shadow:0px 1px 1px #EEEEEE;
 -moz-box-shadow:0px 1px 1px #EEEEEE;
 box-shadow:0px 20px 20px #EEEEEE;
}


</style>
<div id="cabecera" class="cabecera">
<header class="container">
<div class="row">
<!-- <div class="col-sm"> -->
<!-- <nav class="menu"> -->
<!--   <input id ="menu__toggle" type="checkbox" class='menu__toggle'/> -->
<!--   <label for="menu__toggle" class="menu__toggle-label"> -->
<!--     <svg preserveAspectRatio='xMinYMin' viewBox='0 0 24 24'> -->
<!--       <path d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /> -->
<!--     </svg> -->
<!--     <svg preserveAspectRatio='xMinYMin' viewBox='0 0 24 24'> -->
<!--       <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /> -->
<!--     </svg> -->
<!--   </label> -->
<!--   <ol class='menu__content'> -->
<!--     <li class="menu-item"><a href="#0">Home</a></li> -->
<!--     <li class="menu-item"><a href="#0">About</a></li> -->
<!--     <li class="menu-item"> -->
<!--       <a href="#0">Widgets</a> -->
<!--       <ol class="sub-menu"> -->
<!--         <li class="menu-item"><a href="#0">Big Widgets</a></li> -->
<!--         <li class="menu-item"><a href="#0">Bigger Widgets</a></li> -->
<!--         <li class="menu-item"><a href="#0">Huge Widgets</a></li> -->
<!--       </ol> -->
<!--     </li> -->
<!--     <li class="menu-item"> -->
<!--       <a href="#0">Kabobs</a> -->
<!--       <ol class="sub-menu"> -->
<!--         <li class="menu-item"><a href="#0">Shishkabobs</a></li> -->
<!--         <li class="menu-item"><a href="#0">BBQ kabobs</a></li> -->
<!--         <li class="menu-item"><a href="#0">Summer kabobs</a></li> -->
<!--       </ol> -->
<!--     </li> -->
<!--     <li class="menu-item"><a href="#0">Contact</a></li> -->
<!--   </ol> -->
<!-- </nav> -->
<!-- </div> -->
<div class="col-sm">
<img src="/img/logotipo.png"  height="80px" width="80px" onclick="location.href='/home';" style="cursor: pointer;position:relative;left:100px;">
</div>

<div class="col-sm">
	<div th:if="${session.user == null}">
	
	<button type="button" class="btn btn-success" onclick="location.href='/login';" style="cursor: pointer; margin:10px; margin-top:40px;position:absolute; top:-5px;left:180px;">INICIA SESIÓN</button> 
	<button type="button" class="btn btn-primary" onclick="location.href='/registro';" style="cursor: pointer;  margin:10px; margin-top:40px;position:absolute; top:-5px;left:360px;">CREA UNA CUENTA</button> 
	</div>

	<div th:if="${session.user != null}">
		Hola <span th:text="|${session.user.nombreUsuario} (${session.user.rol.nombre}) |"/> 
		<button type="button" class="btn btn-danger" onclick="location.href='/logout';" style="cursor: pointer; padding:3px; margin:10px; position:absolute; top:5px;left:360px;">CERRAR SESIÓN</button>
	</div>
</div>
</div>


</header>
<!-- <hr style="background: linear-gradient(to top, #FFFFFF, #EEEEEE); -->
<!--   height: 10px;"> -->
  </div>
  