<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
</head>
<body>
<div class="container">
<div class="img-ancha">
	<img class="img-ancha" src="/img/resources/earth.png" alt="Portada">
</div>
</div><br><br>
<div class="container">
	<h1 class="texto-destaca display-5">Razones ecológicas</h1>

Aunque es probable que no todos nuestros usuarios nos escojan por motivos ecológicos, los beneficios en este sentido son muy amplios. En Madrid por ejemplo circulan a diario unos mil vehículos carsharing eléctricos, si contabilizamos únicamente a los coches.

Pero no hablamos solo de los vehículos carsharing eléctricos, sino también de los que funcionan con motor. Tanto las motos como los coches motorizados, si se comparten, son menos dañinos para el medio ambiente. Un reciente estudio ha llegado a la siguiente conclusión: por cada vehículo carsharing que se pone a disposición de los usuarios, se dejan de utilizar 11 propios.

Gracias a nuestra flota de vehículos hemos conseguido ahorrarle al medio ambiente un total de 700 toneladas de dióxido de carbono.</br></br>
Habiendo valorado todos estos aspectos, podemos afirmar sin lugar a dudas que poseemos múltiples motivos para utilizar vehículos ecológicos en el carsharing como contrapunto a los vehículos tradicionales: son sostenibles, ya que no emiten
contaminantes atmosféricos, con las ventajas medioambientales y de salud que eso conlleva, suponen un ahorro, al estar en muchos casos subvencionada su adquisición y no necesitar combustible y por último, mejoran la movilidad, ya que en las grandes
ciudades, la tendencia es reducir al máximo el tráfico rodado en el centro y otras áreas urbanas para reducir y cumplir con las normativas de la UE. En el caso de los coches eléctricos no suelen producirse estas restricciones.</br></br>
Tras la pandemia, la reticencia a usar el transporte público y la consolidación de la eclosión de la conciencia ecológica han propiciado el afianzamiento de la movilidad sostenible, especialmente la urbana, que se materializa en el aumento del servicio de ‘carsharing’.</br>
El acceso restringido a los núcleos urbanos a vehículos sin distintivo ambiental, sumado a un aumento de la conciencia ecológica de los consumidores y más incentivos por parte de la administración para su compra, han impulsado el interés por los vehículos ecológicos.</br>
Otro de los factores para la elección de este tipo de movilidad, es el descenso de la contaminación acústica, especialmente elevada en las ciudades y que, a diferencia de los de combustión, los motores eléctricos presentan una mayor eficiencia.</br>.
En definitiva, “lo que ha provocado la COVID es que se adelante dos años las tendencias en movilidad sostenible” siendo el coche compartido una de las mejores opciones.
</div>
<div class="container">
<img class="card-img img-admin-fondo2" src="/img/resources/electric-car.png" alt="Card image">
</div><br><br>
</body>