<div class="container">
	<h1 class="texto-destaca">PREGUNTAS FRECUENTES</h1></br>
	<h1 class="texto-destaca">Contacto</h1>

<h2 data-toggle="collapse" href="#collapseComoContactar"  aria-expanded="false" aria-controls="collapseComoContactar" style="cursor:pointer">¿Cómo contactar con ISHARE?</h2><br>
<div class="collapse" id="collapseComoContactar">
A través de los siguientes medios:<br>
<b>Clientes</b> hola@ishare.es<br>
<b>Empresas:</b> empresa@ishare.es<br>
<b>Facturas:</b> facturacion@ishare.es<br>
<b>Promociones:</b> promo@ishare.es<br>
<b>Reclamaciones:</b> reclamacion@ishare.es<br>
</div>

<h2 data-toggle="collapse" href="#collapseCuando"  aria-expanded="false" aria-controls="collapseCuando" style="cursor:pointer">¿Cuándo contactar?</h2><br>
<div class="collapse" id="collapseCuando">
<p>Puede contactar con nosotros en cualquier momento, estaremos encantados de ayudarle.</p>
</div>

	<h1 class="texto-destaca">Cuenta</h1>

<h2 data-toggle="collapse" href="#collapseModificarDatos"  aria-expanded="false" aria-controls="collapseModificarDatos" style="cursor:pointer">¿Cómo puedo modificar mis datos personales?</h2><br>
<div class="collapse" id="collapseModificarDatos">
<p>Entre en login, introduzca su usuario y contraseña</p>
<p>Una vez dentro entre en MI PERFIL y a continuación a MIS DATOS</p>
</div>

<h2 data-toggle="collapse" href="#collapseOtroUsuario"  aria-expanded="false" aria-controls="collapseOtroUsuario" style="cursor:pointer">¿Puede utilizar mi cuenta personal otro usuario?</h2><br>
<div class="collapse" id="collapseOtroUsuario">
<p>Cada cuenta de cliente es personal e intransferible.El cliente es el responsable de cualquier acontecimiento ocurrido en su cuenta.</p>
<p>Cuando usted completa el proceso de registro de su cuenta corroborando su dni y su permiso de conducir, si la cuenta se la prestas a otra persona, estaría realizando una suplantación de identidad siendo una cuestión ilegal y denunciable.</p>
</div>

<h2 data-toggle="collapse" href="#collapseCuentaBloqueada"  aria-expanded="false" aria-controls="collapseCuentaBloqueada" style="cursor:pointer">¿Qué hago si mi cuenta ha sido bloqueada?</h2><br>
<div class="collapse" id="collapseCuentaBloqueada">
<p>Póngase en contacto con nosotros a través de nuestro correo electrónico atencion@ishare.es o bien llamando al 6108949265</p>
</div>

	<h1 class="texto-destaca">Facturación</h1>

<h2 data-toggle="collapse" href="#collapseCargoTarjeta"  aria-expanded="false" aria-controls="collapseCargoTarjeta" style="cursor:pointer">¿Cuando puedo saber si se ha producido el cargo a mi tarjeta de pago?</h2><br>
<div class="collapse" id="collapseCargoTarjeta">
<p>Tras realizar el alquiler de su vehiculo a las 24 horas siguientes, recibirá un email con la información del servicio efectuándose el cargo</p>

</div>

<h2 data-toggle="collapse" href="#collapseCalculaCoste"  aria-expanded="false" aria-controls="collapseCalculaCoste" style="cursor:pointer">¿Cuando empieza a contar el coste de mi alquiler?</h2><br>
<div class="collapse" id="collapseCalculaCoste">
<p>Desde el momento en que desbloquee el vehículo desde nuestra web</p>
</div>
<h2 data-toggle="collapse" href="#collapseMetodosPago"  aria-expanded="false" aria-controls="collapseMetodosPago" style="cursor:pointer">¿Qué métodos de pago aceptan?</h2><br>
<div class="collapse" id="collapseMetodosPago">
<p>Aceptamos tarjetas de crédito, débito y de prepago </p>
</div>
<h2 data-toggle="collapse" href="#collapseCaducadaBloqueada"  aria-expanded="false" aria-controls="collapseCaducadaBloqueada" style="cursor:pointer">¿Y si mi tarjeta de pago estó caducada o bloqueada?</h2><br>
<div class="collapse" id="collapseCaducadaBloqueada">
<p>Puede ponerse en contacto con nosotros a través de nuestro correo electrónico atencion@ishare.es o bien llamando al 6108949265 para resolver el problema</p>
</div>

	<h1 class="texto-destaca">Registro</h1>

<h2 data-toggle="collapse" href="#collapseDocumentos"  aria-expanded="false" aria-controls="collapseDocumentos" style="cursor:pointer">¿Qué documentos necesito para registrarme?</h2><br>
<div class="collapse" id="collapseDocumentos">
<p>Necesita su DNI, permiso de conducir y una tarjeta de débito, crédito o prepago, todo en vigor.</p>
</div>
<h2 data-toggle="collapse" href="#collapseQuienPuede"  aria-expanded="false" aria-controls="collapseQuienPuede" style="cursor:pointer">¿Qué necesito para ser cliente?</h2><br>
<div class="collapse" id="collapseQuienPuede">
<p>Ser mayor de 18 años y un permiso de conducir tipo b válido para la unión europea.</p>
</div>
<h2 data-toggle="collapse" href="#collapsePermisosConducir"  aria-expanded="false" aria-controls="collapsePermisosConducir" style="cursor:pointer">¿Qué permiso de conducir aceptamos?</h2><br>
<div class="collapse" id="collapsePermisosConducir">
<p>Permisos de conducir europeos tipo b.En caso de ser fuera del espacio económi co europeo se necesitará el Permiso Internacional de Conducir</p>
</div>
<h2 data-toggle="collapse" href="#collapseTerminos"  aria-expanded="false" aria-controls="collapseTerminos" style="cursor:pointer">¿Dónde puedo ver la Política de privacidad y los Términos y condiciones?</h2><br>
<div class="collapse" id="collapseTerminos">
<p>En nuestra web https://www.ishare.es/home</p>
</div>
<h2 data-toggle="collapse" href="#collapseProblema"  aria-expanded="false" aria-controls="collapseProblema" style="cursor:pointer">Si tengo un problema con el registro y no he podido finalizarlo...¿Qué puedo hacer?</h2><br>
<div class="collapse" id="collapseProblema">
<p>Puede ponerse en contacto con nosotros llamando al 6108949265</p>
</div>
<h2 data-toggle="collapse" href="#collapseEmpezar"  aria-expanded="false" aria-controls="collapseEmpezar" style="cursor:pointer">¿Cuando puede comenzar a utilizar nuestro servicio?</h2><br>
<div class="collapse" id="collapseEmpezar">
<p>Una vez que su cuenta haya sido verificada y activada, pasadas las 24 h recibirá un email de comfirmación.Entonces ya podrá loguearse en nuestra página web wwww.ishare.es</p>
</div>
	<h1 class="texto-destaca">Reserva</h1>

<h2 data-toggle="collapse" href="#collapseFallaReserva"  aria-expanded="false" aria-controls="collapseFallaReserva" style="cursor:pointer">¿Porqué ha fallado mi reserva?</h2><br>
<div class="collapse" id="collapseFallaReserva">
<p>Posiblemente haya hecho una reserva al mismo vehículo en el mismo momento que otro cliente.Entonces deberá contactarse con nuestro número de teléfono 6108949265</p>
</div>
<h2 data-toggle="collapse" href="#collapseCuantosReserva"  aria-expanded="false" aria-controls="collapseCuantosReserva" style="cursor:pointer">¿Cuántos vehículos puedo reservar al mismo tiempo?</h2><br>
<div class="collapse" id="collapseCuantosReserva">
<p>Sólamente uno</p>
</div>
<h2 data-toggle="collapse" href="#collapseCuantoTiempo"  aria-expanded="false" aria-controls="collapseCuantoTiempo" style="cursor:pointer">¿Cuánto tiempo puedo reservar un coche?</h2><br>
<div class="collapse" id="collapseCuantoTiempo">
<p>La reserva es gratis, tienes hasta 30 minutos antes de utilizar el servicio</p>
</div>
<h2 data-toggle="collapse" href="#collapseEncuetroReserva"  aria-expanded="false" aria-controls="collapseEncuetroReserva" style="cursor:pointer">¿Qué hago si no encuentro al vehículo?</h2><br>
<div class="collapse" id="collapseEncuetroReserva">
<p>Compruebe que la dirección que aparece en nuestra web es la correcta. En caso afirmativo, póngase en contacto con nosotros al número de teléfono 6108949265</p>
</div>
	<h1 class="texto-destaca">Seguro</h1>

<h2 data-toggle="collapse" href="#collapseCobertura"  aria-expanded="false" aria-controls="collapseCobertura" style="cursor:pointer">¿Qué cubre el seguro?</h2><br>
<div class="collapse" id="collapseCobertura">
<p>Nuestros vehículos están asegurados a todo riesgo con franquicia.En caso de que el responsable de un accidente sea nuestro cliente y haya respetado los términos y condiciones del servicio, se le cargará al cliente el importe de la franquicia hasta 500 € como máximo.</p>
<ul>Las coberturas del seguro son las siguientes:
<li>Asistencia en viaje</li>
<li>Rotura en lunas</li>
<li>Asistencia en caso de accidente</li>
<li>Defensa jurídica y asistencia legal</li>
</ul>
<p>El precio del alquiler del vehiculo viene con el seguro</p>
</div>
<h2 data-toggle="collapse" href="#collapseQuienCubre"  aria-expanded="false" aria-controls="collapseQuienCubre" style="cursor:pointer">¿A quién cubre el seguro?</h2><br>
<div class="collapse" id="collapseQuienCubre">
<p>Cubre a todos los ocupantes del vehículo en el momento del accidente o daño siempre que se cumpla con los términos y condiciones y con las normas de circulación</p>
</div>
	<h1 class="texto-destaca">Uso</h1>

<h2 data-toggle="collapse" href="#collapseHorarioServicio"  aria-expanded="false" aria-controls="collapseHorarioServicio" style="cursor:pointer">¿Cuál es el horario del servicio de iShare?</h2><br>
<div class="collapse" id="collapseHorarioServicio">
<p>Estamos disponibles los 365 dias del año y las 24 h del día</p>
</div>
<h2 data-toggle="collapse" href="#collapseDisponibilidadUso"  aria-expanded="false" aria-controls="collapseDisponibilidadUso" style="cursor:pointer">¿Qué hago si no encuentro ningún vehiculo disponible en la web?</h2><br>
<div class="collapse" id="collapseDisponibilidadUso">
<p>Cierre sesion y vuelva a loguearse. Si todavía no encuentra el vehículo, póngase en contacto a través del número de teléfono 6108949265</p>
</div>
<h2 data-toggle="collapse" href="#collapseHorarioUso"  aria-expanded="false" aria-controls="collapseHorarioUso" style="cursor:pointer">¿Cuál es el horario del servicio de iShare?</h2><br>
<div class="collapse" id="collapseHorarioUso">
<p>Estamos disponibles los 365 dias del año y las 24 h del día</p>
</div>
<h2 data-toggle="collapse" href="#collapseDañosUso"  aria-expanded="false" aria-controls="collapseDañosUso" style="cursor:pointer">¿Qué hago si el vehículo que he reservado presenta daños?</h2><br>
<div class="collapse" id="collapseDañosUso">
<p>Antes de comenzar a conducir, póngase en contacto a través de nuestro número de teléfono 6108949265</p>
</div>
<h2 data-toggle="collapse" href="#collapseQuienUso"  aria-expanded="false" aria-controls="collapseQuienUso" style="cursor:pointer">¿Quién puede conducir el coche alquilado?</h2><br>
<div class="collapse" id="collapseQuienUso">
<p>Sólo pueden ser conducidos por el usuario que ha alquilado el vehículo, de no ser así supondría una violación de los términos y condiciones pudiendo llevar a una sanción económica.</p>
</div>
<h2 data-toggle="collapse" href="#collapseDondeUso"  aria-expanded="false" aria-controls="collapseDondeUso" style="cursor:pointer">¿Dónde puedo circular?</h2><br>
<div class="collapse" id="collapseDondeUso">
<p>Puedes circular donde quieras siempre que finalices el viaje dejando nuestro vehículo en cualquiera de nuestros aparcamientos o zona Ishare.</p>
</div>
<h2 data-toggle="collapse" href="#collapseAutonomíaUso"  aria-expanded="false" aria-controls="collapseAutonomíaUso" style="cursor:pointer">¿Qué autonomía mínima ha de tener el coche al terminar su uso?</h2><br>
<div class="collapse" id="collapseAutonomíaUso">
<p>Los vehículos deben devolverse con un mínimo de 15 km. En caso contrario puede llevar a sanciones económicas.</p>
</div>
<h2 data-toggle="collapse" href="#collapseBateriaUso"  aria-expanded="false" aria-controls="collapseBateriaUso" style="cursor:pointer">¿Qué hago si el vehiculo se queda sin batería mientras voy conduciendo?</h2><br>
<div class="collapse" id="collapseBateriaUso">
<p>Debe dejar el vehículo en un lugar seguro, si no es posible o el coche queda bloqueado póngase el chaleco reflectante colocando además los triángulos y póngase en contacto con nosotros llamando al 6108949265.</p>
<p>En este caso, se te podrán repercutir castos de gestión adicionales</p>
</div>
<h2 data-toggle="collapse" href="#collapseFinalizarUso"  aria-expanded="false" aria-controls="collapseFinalizarUso" style="cursor:pointer">¿Cómo puedo finalizar el alquiler?</h2><br>
<div class="collapse" id="collapseFinalizarUso">
<p>Ponga la palanca en posición P, accione el freno de mano y pulsa el botón START/STOP.Asegúrese de dejar las luces apagadas y las puertas y ventanas cerradas.</p>

</div>
<h2 data-toggle="collapse" href="#collapseObjetoUso"  aria-expanded="false" aria-controls="collapseObjetoUso" style="cursor:pointer">¿Qué hago si encuentro un objeto olvidado por parte del usuario anterior?</h2><br>
<div class="collapse" id="collapseObjetoUso">
<p>En el maletero del vehículo hay una bolsa de objetos perdidos, por favor, deposítela en dicha bolsa.Nosotros nos encargaremos de ponernos en contacto con el usuario que ha dejado el objeto </p>
<p>Si nadie lo reclama el objeto será donado a alguna institución de acción social</p>
</div>
<h2 data-toggle="collapse" href="#collapseDondeDocumentacion"  aria-expanded="false" aria-controls="collapseDondeDocumentacion" style="cursor:pointer">¿Dónde puedo encontrar la documentación del vehículo?</h2><br>
<div class="collapse" id="collapseDondeDocumentacion">
<p>En la guantera </p>
</div>
<h2 data-toggle="collapse" href="#collapseHojasReclamacion"  aria-expanded="false" aria-controls="collapseHojasReclamacion" style="cursor:pointer">¿Puedo rellenar una hoja de reclamación en caso de no estar contento con el servicio?</h2><br>
<div class="collapse" id="collapseHojasReclamacion">
<p>De ser así nos disculpamos por no estar contento con el servicio esperado. Por favor, comunícanos el motivo del descontento contactando a nuestro servicio de atención al cliente a atencion@ishare.es o llamándonos al  6108949265.</p>
<p>Disponemos de hojas de reclamaciones en nuestra oficina de la calle de los libreros, sn 28004 - Madrid.</p>
</div>
	<h1 class="texto-destaca">Vehículo</h1>

<h2 data-toggle="collapse" href="#collapseVehiculoUso"  aria-expanded="false" aria-controls="collapseVehiculoUso" style="cursor:pointer">¿Qué equipamiento tiene un Ishare?</h2><br>
<div class="collapse" id="collapseVehiculoUso">

<ul>Nuestros vehículos tienen el siguiente equipamiento:
<li>Transmisión automática</li>
<li>Aire acondicionado</li>
<li>Sensor de proximidad</li>
<li>Radio y multimedia</li>
<li>Cargador de móvil</li>
<li>8 Airbags</li>
<li>Navegación por satélite</li>
<li>Cámara de visión trasera</li>
<li>ESP Y ABS</li>
<li>Control de velocidad de crucero y limitador de velocidad</li>
</ul>
</div>
</div>