<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Nuestra flota</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

  </head>

  <body>

    <div class="container">
      <h1>Conozca nuestra flota con movilidad totalmente eléctrica:</h1>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        
         <img src="img/resources/hondae.png" style="width:75%;display:block;margin-left:auto;margin-right:auto;">
  <h1>Honda e</h1>
  	<div class="text">
 	
  	</div>
  	 
 		 <ul>
  			<li>100% eléctrico</li>
  			<li>0 emisiones</li>
  			<li>Divertido de conducir</li>
  			<li>Ideal para el uso urbano</li>
  			<li>Automático</li>
  			<li>4 plazas reales</li>
  			<li>Enorme panel de pantallas</li>
  		</ul>
        
        </div>
        <div class="swiper-slide">
        
         <img src="img/resources/leaf.png" style="width:75%;display:block;margin-left:auto;margin-right:auto;">
  <h1>Nissan leaf</h1>
  	<div class="text">
 	
  	</div>
  	 
 		 <ul>
  			<li>100% eléctrico</li>
  			<li>0 emisiones</li>
  			<li>Sin ruidos</li>
  			<li>Accede al centro de madrid</li>
  			<li>Regeneración de energia al frenar</li>
  			<li>5 plazas</li>
  			<li>Hasta 385 km de autonomía</li>
  		</ul>
        
    </div>
    
    <div class="swiper-slide">
    
     <img src="img/resources/kona.png" style="width:75%;display:block;margin-left:auto;margin-right:auto;">
  <h1>Hyundai Kona</h1>
  	<div class="text">
 	
  	</div>
  	 
 		 <ul>
  			<li>Respetuoso con el medio ambiente</li>
  			<li>Compacto y polivalente</li>
  			<li>Sin ruidos</li>
  			<li>Ideal para moverse por la ciudad o hacer una escapada al campo</li>
  			<li>Automático</li>
  			<li>5 plazas</li>
  			<li>Hasta 305 km de autonomía</li>
  		</ul>
    </div>
    
    <div class="swiper-slide">
    
      <img src="img/resources/nissan200.png" style="width:70%;display:block;margin-left:auto;margin-right:auto;">
  <h1>Nissan  e-NV200</h1>
  	<div class="text">
 	
  	</div>
  	 
 		 <ul>
  			<li>Totalmente eléctrico</li>
  			<li>Completo equipamiento</li>
  			<li>Silencioso</li>
  			<li>Vehículo tanto de pasajeros como comercial para empresas y profesionales autónomos</li>
  			<li>Automático</li>
  			<li>7 plazas</li>
  			<li>Amplio maletero</li>
  		</ul>
    
    </div>
    
    <div class="swiper-slide">
    
     <img src="img/resources/ford150.png" style="width:75%;display:block;margin-left:auto;margin-right:auto;">
  <h1>Ford f-150</h1>
  	<div class="text">
 	
  	</div>
  	 
 		 <ul>
  			<li>Totalmente eléctrico</li>
  			<li>La caja puede soportar hasta 900 kilos</li>
  			<li>Puede remolcar hasta 4.535 kilogramos.</li>
  			<li>Lo que más importa la capacidad para el trabajo</li>
  			<li>Automático</li>
  			<li>6 plazas</li>
  			<li>Hasta 485 km de autonomía</li>
  		</ul>
    
    </div>

      </div>
        <div class="swiper-pagination"></div>
    </div>
        <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

</div>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Inicializa Swiper -->
   <script src="/js/flota.js"></script>
  </body>
</html>