
<h1>kk</h1>
=======
<meta charset=UTF-8>
<div class="container">
	<h1 class="display-5">HOME EN LA APP DE ISHARE</h1>

	<ul class="list-group">
		<li class="list-group-item btn"><a href="/marca/r">MARCAS</a></li>
		<li class="list-group-item btn"><a href="/modelo/r">MODELOS</a></li>
		<li class="list-group-item btn"><a href="/coche/r">COCHES DE LA FLOTA</a></li>
    <li class="list-group-item btn"><a href="/alquiler/r">ALQUILERES</a></li>
    <li class="list-group-item btn"><a href="/ubicacion/r">UBICACIONES</a></li>
    
        <li class="list-group-item btn"><a href="/empresa/r">EMPRESAS</a></li>
        <li class="list-group-item btn"><a href="/particular/r">PARTICULARES</a></li>
	</ul>

</div>

