<meta charset=UTF-8>
<div class="container">
	<h1 class="display-5">HOME EN LA APP DE ISHARE</h1>
<!--
	<ul class="list-group">
		<li class="list-group-item btn"><a href="/marca/r">MARCAS</a></li>
		<li class="list-group-item btn"><a href="/tipo/r">TIPOS DE VEHÍCULOS</a></li>
		<li class="list-group-item btn"><a href="/modelo/r">MODELOS</a></li>
		<li class="list-group-item btn"><a href="/coche/r">COCHES DE LA FLOTA</a></li>
    	<li class="list-group-item btn"><a href="/alquiler/r">ALQUILERES</a></li>
    	<li class="list-group-item btn"><a href="/ubicacion/r">UBICACIONES</a></li>
    	<li class="list-group-item btn"><a href="/rol/r">ROLES</a></li>
        <li class="list-group-item btn"><a href="/empresa/r">EMPRESAS</a></li>
        <li class="list-group-item btn"><a href="/particular/r">PARTICULARES</a></li>
	</ul>
-->
<a href="marca/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/marcas-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">MARCAS</h5>
	    <p class="card-text">Realiza las acciones CRUD de marcas.</p>
	  </div>
	</div>
</a>
<a href="tipo/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/tipo-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">TIPOS</h5>
	    <p class="card-text">Realiza las acciones CRUD de tipos.</p>
	  </div>
	</div>
</a>
<a href="modelo/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/modelos-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">MODELOS</h5>
	    <p class="card-text">Realiza las acciones CRUD de modelos.</p>
	  </div>
	</div>
</a>
<a href="coche/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/flota-coches-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">COCHES DE LA FLOTA</h5>
	    <p class="card-text">Realiza las acciones CRUD de los coches de la flota.</p>
	  </div>
	</div>
</a>
<a href="ubicacion/rGet">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/ubicaciones-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">UBICACIONES</h5>
	    <p class="card-text">Realiza las acciones CRUD de ubicaciones.</p>
	  </div>
	</div>
</a>
<a href="rol/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/roles-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">ROLES DE USUARIO</h5>
	    <p class="card-text">Realiza las acciones CRUD de roles de usuarios.</p>
	  </div>
	</div>
</a>
<a href="empresa/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/empresa-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">EMPRESAS</h5>
	    <p class="card-text">Realiza las acciones CRUD de empresas.</p>
	  </div>
	</div>
</a>
<a href="particular/r">
	<div class="card-admin bg-dark text-white">
	  <img class="card-img img-admin-fondo" src="/img/resources/particular-fondo.jpg" alt="Card image">
	  <div class="card-img-overlay overlay-menu-admin">
	    <h5 class="card-title">PARTICULARES</h5>
	    <p class="card-text">Realiza las acciones CRUD de particulares.</p>
	  </div>
	</div>
</a>
</div>

