<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
</head>
<body>
<div class="container">
	<h1 class="display-5">POLITICAS DE COOKIES</h1><br>

	En cumplimiento con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, esta página web le informa, en esta sección, sobre la política de recogida y tratamiento de cookies.<br><br>

<h1>¿Qué son las cookies?</h1><br>
Una cookie es una pequeña información enviada por un sitio web y almacenada en el navegador del usuario, de manera que el sitio web puede consultar la actividad previa del navegador<br><br>

<h1>¿Qué tipos de cookies utiliza esta página Web?</h1><br>
Esta página web utiliza los siguientes tipos de cookies:<br><br>

Cookies de análisis:  Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado.<br><br>

<h1>Cookies de terceros</h1>
Esta página web utiliza servicios de terceros para recopilar información con fines estadísticos y de uso de la web. Son utilizadas para orientar la publicidad según el contenido que es relevante para un usuario, mejorando así la calidad de experiencia en el uso del mismo.

En concreto, usamos los servicios de Google Adsense y de Google Analytics para nuestras estadísticas y publicidad. Algunas cookies son esenciales para el funcionamiento del sitio, por ejemplo el buscador incorporado.

Nuestro sitio incluye otras funcionalidades proporcionadas por terceros.<br><br>

<h1>Desactivar las cookies</h1><br>
Usted puede bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.

En la mayoría de los navegadores web se ofrece la posibilidad de permitir, bloquear o incluso eliminar las cookies instaladas en su equipo.

A continuación puede acceder a la configuración de los navegadores webs más frecuentes para aceptar, instalar o desactivar las cookies:<br><br>

<p><span style="color: #ff5f00;"><a href="https://support.google.com/chrome/answer/95647?hl=es"><span style="color: #5dc1b9;">Configurar cookies en Google Chrome</span></a></span></p>

<p><span style="color: #ff5f00;"><a href="https://support.microsoft.com/es-es/products/windows?os=windows-10"><span style="color: #5dc1b9;">Configurar cookies en Microsoft Internet Explorer</span></a></span></p>

<p><span style="color: #ff5f00;"><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&amp;redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we"><span style="color: #5dc1b9;">Configurar cookies en Mozilla Firefox</span></a></span></p>

<p><span style="color: #ff5f00;"><a href="https://support.apple.com/es-es/HT201265"><span style="color: #5dc1b9;">Configurar cookies en Safari (Apple)</span></a></span></p>

<p><a href="http://help.opera.com/error/"><span style="color: #5dc1b9;">Configurar cookies en Opera</span></a></p>



<h1>Advertencia sobre eliminar cookies</h1><br>
Usted puede eliminar y bloquear todas las cookies de este sitio, pero parte del sitio no funcionará o la calidad de la página web puede verse afectada.

Si tiene cualquier duda acerca de nuestra política de cookies, puede contactar con esta página web a través de nuestros canales de Contacto.

</div>
</body>

