<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
</head>
<body>
<div class="container">
	<h1 class="display-5">POLÍTICA DE PRECIOS</h1><br>

	Política de precios diseñada para que se adapte a tus necesidades.<br><br>
	
	<h1>Cuota de alta gratuita</h1><br>
	<p>Sólo por darte de alta te regalamos 10€</p><br>
	
	<h1>Precio por minuto de conducción</h1><br>
	<p>0,8 € - 1,8 €. Sin importar el numero de kms que realices</p><br>
	
	<h1>Precio por minuto de parada</h1><br>
	<p>0,4 € - 0,8 €. Activa el modo de <i>detener</i> cuando hagas una parada en el camino con nuestra tarifa reduccida mateniendo la reserva del vehiculo</p><br>
	
	<h1>Packs de ahorro</h1><br>
	<p>Conduce más por menos dinero con nuestros packs de ahorro</p>
	<p>- Tarifa 20: pagas 20 € y te regalamos 4€</p>
	<p>- Tarifa 40: pagas 40 € y te regalamos 8€</p>
	<p>- Tarifa 80: pagas 80 € y te regalamos 20€</p>
	<b>Válido hasta el último día del año </b><br>
	
	<h1>Tarifas planas</h1><br>
	<p>Puede alquilar su vehiculo por horas:</p>
	<p>- Tarifa plana de 2 horas: 10 €</p>
	<p>- Tarifa plana de 4 horas: 16 €</p>
	<p>- Tarifa plana de 8 horas: 25 €</p>
	<p>E incluso por días:</p>
	<p>- 1 dia: 35€ </p>
	<p>- 2 dias: 50€ </p>
	<p>- 3 dias: 65€ </p><br>
	
	<h1>Cargos adicionales</h1><br>
	<p>Estos cargos son necesarios para asegurarnos de que su vehiculo siempre va a estar en perfectas condiciones</p>
	<table class="table table-striped">
	<tr><th>Cargos</th><th>&nbsp;</th><th>Precios</th></tr>
	<tr><td>Tramitación de facturas de terceros o multas</td><td>&nbsp;</td><td>Según factura</td></tr>
	<tr><td>Daños en el vehículo cumpliendo Términos y Condiciones (<26 años)</td><td>&nbsp;</td><td>Según daño. Máx. 500,00€</td></tr>
	<tr><td>Daños en el vehículo cumpliendo Términos y Condiciones (≥26 años)</td><td>&nbsp;</td><td>Según daño. Máx. 500,00€</td></tr>
	<tr><th>Recargos administrativos</th><th>&nbsp;</th><th></th></tr>
	<tr><td>Recargo por gestión administrativa de multas</td><td>&nbsp;</td><td>10€</td></tr>
	<tr><td>Recargo por reclamación de recibos impagados</td><td>&nbsp;</td><td>10€</td></tr>
	<tr><td>Cargo por tramitación administrativa de siniestros con culpa del usuario</td><td>&nbsp;</td><td>10€</td></tr>
	<tr><th>Recargos Operativos</th><th>&nbsp;</th><th></th></tr>
	<tr><td>Recargo por finalización de alquiler fuera del ayuntamiento de Madrid o en el barrio de <br>Aravaca (Suplemento zona especial)</td><td>&nbsp;</td><td>1€</td></tr>
	<tr><td>Recargo por grúa</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por desplazamiento especial de operario (causa cliente)</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por inmovilización de vehículo para localización de objetos perdidos (máx. 4 horas)</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por fumar en el interior del vehículo</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por nivel mínimo de batería (autonomía <10 Km)</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por dejar el vehículo abierto o con ventanillas abiertas</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por limpieza especial por incumplimiento de Términos y Condiciones</td><td>&nbsp;</td><td>20€</td></tr>
	<tr><td>Recargo por inclumplimiento en aparcamiento Aeropuertos</td><td>&nbsp;</td><td>40€</td></tr>
	<tr><th>Recargos Legales</th><th>&nbsp;</th><th></th></tr>
	<tr><td>Recargo por permitir a un tercero que conduzca el coche</td><td>&nbsp;</td><td>100€</td></tr>
	<tr><td>Recargo por finalizar el viaje en espacios privados o subterráneos (No paradas)</td><td>&nbsp;</td><td>100€</td></tr>
	<tr><td>Recargo por incumplimiento de los Términos y Condiciones</td><td>&nbsp;</td><td>100€</td></tr>
	<tr><td>Coste de la llamada al servicio de Atención al Cliente</td><td>&nbsp;</td><td>Tarifa local</td></tr>
	</table>
	<br>

</div>
</body>

