<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
</head>
<body>
<div class="container">
<img class="card-img img-admin-fondo" src="/img/resources/Car-Sharing-Coche-compartido-1.jpg" alt="Card image">
</div><br><br>
<div class="container">
	<h1 class="display-5">Quienes sómos</h1>

Presente en <b>España</b> desde enero de <b>2015</b>, <b>IShare</b> es la empresa de coche compartido que más ha crecido en numeros de usuarios en menos tiempo (2 millones sólo en Madrid).<br><br>

Debido a este gran número de clientes nos vemos obligados a ampliar nuestra flota de vehículos. Ahora mismo contamos con 600 vehiculos en servicio.<br>

Con una autonomia de 300 Km puedes llegar más lejos , dentro de nuestros más de 200 km2 de Zona Ishare.<br>

Nuestro servicio te permite realizar trayectos cortos a precios económicos.<br><br>

Reserva cualquiera de nuestros vehículos desde nuestra web, conduce y haz todas las paradas que necesites<br>

Somos un servicio de coche compartido, el cual se adapta a tus necesidades.<br><br>

Nuestros coches son 100% eléctricos y 0 emisiones, con 5 plazas y un amplio maletero para que lleves lo que quieras y cuando quieras.

Cada año se publican más de 200 mil opiniones positivas entre usuarios.<br><br>

<hr style="border-top: 1px solid #ccc; background: transparent;">

<h1>Porqué elegir un servicio <i>carsharing</i></h1>

<h3>Reducción contaminación</h3>
<b>Reducción de la contaminación:</b> Los usuarios comprometidos con el medioambiente valorarán también otras ventajas, como la reducción de la contaminación, ya que se trata de un servicio muy relacionado con la movilidad eléctrica, reduciendo las emisiones de efecto invernadero.<br><br>

<h3>Reducción coches</h3>
<b>Reducción del número de coches:</b> Al compartir coche se reducen el número de coches que hay en la carretera.<br><br>

<h3>Mejora movilidad</h3>
<b>Mejora la movilidad:</b> Al haber menos coches el tráfico se vuelve menos intenso, permitiendo a los conductores llegar a su destino de manera más eficiente.<br><br>

<h3>Ahorro económico</h3>
<b>Ahorro económico: </b>Otra de las ventajas más importantes es el ahorro económico, pues con el alquiler de coche por kilometro no se cuenta con desembolsos como el parking privado, el servicio de estacionamiento regulado (que suele estar incluido en el precio), el mantenimiento, las reparaciones o los impuestos.<br><br>


</div>
</body>