<meta charset=UTF-8>
<div class="container" style="margin-bottom:250px;">
	<div id="primerContenedor" style="text-align:center">
		<h1 class="display-5">Tarifas Ishare</h1>
		<br>
		<p class="h5">
			Nuestras tarifas están pensadas y analizadas<br>
			para cumplir con las necesidades de nuestros clientes.<br>
			Paga menos en caso de parada y ahorra en los trayectos<br>
			más largos.
		</p>	
	</div>
	<br>
	<div id="segundoContenedor" class="row" style="text-align:center;">
		<div class="col-4" id="estandar" style="background-color:white;color:black;border-radius:20px;padding:1em;padding-top:2em;;margin-left:30px">
			<h1 class="h3"><b>Estándar</b></h1>
			<br>
			<div id="precioEstandar">
				<p class="h5">
				Desde<br>
				<h1>0,15</h1>
				€/min
				</p>
			</div>
		</div>
		<div class="col-7" id="tarifasPlanas" style="background-color:white;color:black;border-radius:20px;margin-left:20px;padding:1em;padding-top:2em;">
			<h1 class="h3"><b>Tarifas planas</b></h1>
			<div id="tarifas" class="row">
			<div id="tarifaPlana1" class="col-sm">
				<p class="h5">
				<h1>21</h1>€/2 horas 
				</p>
			</div>
			<div id="tarifaPlana2" class="col-sm">
				<p class="h5">
				<h1>33</h1>€/4 horas 
				</p>
			</div>
			<div id="tarifaPlana3" class="col-sm">
				<p class="h5">
				<h1>47</h1>€/8 horas 
				</p>
			</div>
			<div id="tarifaPlana4" class="col-sm">
				<p class="h5">
				<h1>65</h1>€/1 día 
				</p>
			</div>
			<div id="tarifaPlana5" class="col-sm">
				<p class="h5">
				<h1>97</h1>€/2 días 
				</p>
			</div>
			<div id="tarifaPlana6" class="col-sm">
				<p class="h5">
				<h1>139</h1>€/3 días 
				</p>
			</div>
		</div>
		</div>
	</div>
	<div id="tercerContenedor"  class="row" style="background-color:white;color:black;border-radius:20px;margin-top:20px;margin-right:28px;margin-left:18px;padding:1em;padding-top:2em;">
		<div id="parrafo" class="col-6">
			<p class="h5" style="margin-top:20px">
			<b style="color:teal">STOP</b> es nuestra tarifa reducida<br>
			para que pagues menos durante tus paradas<br>
			y mantengas el alquiler del coche mientras<br>
			disfrutas de un paseo por la ciudad
			</p>
		</div>
		<div id="tarifaStop" class="col" style="text-align:center">
			<h1 class="h3" style="color:teal">STOP</h1>
			<p class="h5">
			Desde
			<h1>0,07</h1>€/min
			</p>
		</div>
		<div id="imagenStop" class="col" style="margin-left:20px">
			<img src="/img/eco.png" height="100px" width="100px" style="margin-left:50px;margin-top:20px">
		</div>
	</div>
</div>
