// Custom.scss
// Option A: Include all of Bootstrap

// PRIMERO: Sobreescritura de variables de boostrap

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 844px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1280px,
  // Extra large screen / wide desktop
  xl: 1400px
);
$body-color: white;
$body-bg: black;
$font-family-base: 'Play', sans-serif;
$color-nav-centro:rgb(0, 128, 128);
$color-footer-centro: rgb(139, 171, 12);
$color-boton-base-hover:rgb(139, 171, 12);
$color-boton-base:rgb(0, 128, 128);
$color-nav-lateral:rgb(11, 23, 9);
$color-cancelar-base:rgb(238, 146, 6);
$color-cancelar-base-hover:rgb(233, 39, 45);

// SEGUNDO: EXTENSIONES A LAS CLASES DE BOOTSTRAP
html, body {
  height: 100%;
}
.capsula{
	margin: 40px 0;
}
.card-coche{
	@extend .card;
	background-color: rgb(27, 81, 101) !important;
}
.card-coche-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
.card-coche-img-container{
	width: 100%;
	height: 200px;
}
.contenedorCuatro{
	margin:5%;
}

.btn-base{
	@extend .btn;
	background-color: $color-boton-base !important;
	color: $body-color !important;
	text-decoration: none !important;
	transition: 2s;
}

.btn-primary:hover{
	background-color: $color-footer-centro !important;
	border-color: $color-footer-centro !important;
}


.btn-cancelar{
	@extend .btn;
	background-color: $color-cancelar-base !important;
	color: $body-color !important;
	text-decoration: none !important;
	transition: 2s;
}

.btn-cancelar:hover{
	background-color: $color-cancelar-base-hover !important;
}

.btn-base:hover{
	background-color: $color-footer-centro !important;
}
.cabezaEspecial{
	margin-top:100px;
}
.cabecera{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,1));
}
.logo-container{
	width:150px;
	height:150px;
	display:inline-block;
}
.logo{
	object-fit: cover;
	height:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.texto-logo{
	display:inline-block;
}
.portada{
	background-image: url('/img/resources/portada.jpg');
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -1;
}

.barra-nav{
	width: 100%;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	background-image: linear-gradient(to right,$color-nav-lateral,$color-nav-centro,$color-nav-lateral);
	color: $body-bg !important;
	z-index:999;
	
}
.titulo{
	position: relative;
	margin-top: 100px;
}
.nav-link-color{
	@extend .nav-link;
	color: $body-bg !important;
}

.pie-de-pagina-a{
	width: 100%;
	padding: 30px;
	background-image: linear-gradient(to right,$color-nav-lateral,$color-nav-centro,$color-nav-lateral);
	color: $body-color;
	text-align: center;
	
}
.pie-de-pagina-b{
	width: 100%;
	padding: 30px;
	background-image: linear-gradient(to right,$color-nav-lateral,$color-footer-centro,$color-nav-lateral);
	color: $body-color;
	text-align: center;
}
.card-admin{
	@extend .card;
	height: 270px;
	width: 100%;
	overflow: hidden;
	margin:10px 0;
}
.img-admin-fondo{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-ancha{
	width:100%;
}
.overlay-menu-admin{
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
}
.enlace{
	color: $body-color !important;
	text-decoration: none !important;
}
.enlace:visited{
	color: $body-color !important;
	text-decoration: none !important;
}
.carousel-personalizado{
	@extend .carousel-inner;
	height:500px;
}

.img-carousel{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
.tabla{
	color:black !important;
}
.mapa{
	width:100%;
	height:600px;
	border: 0px;
}
.form-hidden{
	margin:0;
}
.baraja-cartas{
	@extend .card-deck;
	width:100%;
}
.fondoBlanco{
	background-color: white !important;
	padding: 20px;
}
.texto-destaca{
	color:$color-footer-centro !important;
}
.etiq{
  margin-bottom: 20px;
  width:200px;
}
input{
  border-radius: 10px !important;
  margin-bottom: 20px !important;
}
tr{
  text-align:center !important;
}
td{
  vertical-align:middle !important;
}
button{
	background-color: rgba(0,0,0,0);
	border: none;
}
select{
	width:215px;
}
.alinear{
	text-align: center;
}
.rojo{
	display:none;
	color:orange;
}
// TERCERO: IMPORTACIÓN DEL PROPIO BOOTSTRAP
@import "node_modules/bootstrap/scss/bootstrap";
@import "css/datatables.css";
@import "css/datatables.min.css";

//------------------------UIKIT para cambios------------------------
/*
// 1. Your custom variables and variable overwrites.

// 2. Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

// 4. Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";
*/