<div class="container">
	<h5 class="display-4">Coches disponibles para alquiler</h5>
	<div class="row">
		<div id="TABLAAJAX" class="card-deck">
			
		</div>
	</div>
</div>
</div>
<script>
	$(document).ready(function () {
		$.getJSON("http://localhost:8080/REST/coche/recuperar", function (result) {
			$.each(result, function (clave, coche) {
				console.log(coche);
				$("#TABLAAJAX").append(`
				<div  class="col-xlg-3 col-lg-3 col-md-6 col-sm-12 mb-3">
				<div class="card-coche">
				<div class="card-coche-img-container">
				<img class="card-coche-img card-img-top" src="/retrieve-dir/coche-numero-${coche.modelo.id}" alt="coche-numero-${coche.id}">
				</div><div class="card-body">
				<h4 class="card-title">${coche.modelo.marca.nombre} - ${coche.modelo.nombre}</h4>
				<p class="card-text">${coche.autonomiaRestante} Km</p><p class="card-text">Estacionado en: ${coche.ubicacion.direccion}</p>
				<form action="/alquiler/c" method="GET"><input type="hidden" name="idCoche" value="${coche.id}">
				<input type="submit" class="btn-base" value="${coche.modelo.tarifa} Tokens/Km"></a></form>
				</div>
				</div>
				</div>`);
			});
		});
	});
</script>