<div class="container">
	<h5 class="texto-destaca display-4">Coches disponibles para alquiler</h5>
	<select name="filtro" id="filtro">
		<option value="ninguno" selected="selected">Ninguno</option>
		<option value="marca">Marca</option>
		<option value="modelo">Modelo</option>
		<option value="autonomia">Autonomia</option>
	</select>
	<input id="buscador" name="buscador" type="text">
	<div class="row mt-5">
		<div id="TABLAAJAX" class="baraja-cartas">

		</div>
	</div>
</div>
</div>
<script src="/js/Ajax_alquiler_jQuery.js">
</script>
