<div class="container alinear">
	<h1 class="display-6">Añadir nuevo coche</h1>
	<form action="c" method="POST">
		<label class="etiq" for="idMarca">Modelo: </label>
		<select name="idModelo" id="idModelo">
			<option th:each="modelo:${modelos}" th:value="${modelo.id}" th:text="|${modelo.marca.nombre} - ${modelo.nombre}|"></option>
		</select>
		<br>
		<label class="etiq" for="matricula">Matrícula del coche: </label>
		<input type="text" id="matricula" name="matricula" onkeyup="validar_coche(this)" onfocus="reseteaColor(this)">
		<br>
		<label class="etiq" for="idMarca">Ubicación: </label>
		<select name="idUbicacion" id="idUbicacion">
			<option th:each="ubicacion:${ubicaciones}" th:value="${ubicacion.idUbicacion}" th:text="${ubicacion.direccion}"></option>
		</select>
		<br>
		<input class="btn-base" id="envio" type="submit" value="Crear" disabled>
		<input class="btn-cancelar" type="button" value="Cancelar" onclick="location.href='r'">
	</form>
</div>
<script src="/js/Validar_marca_modelo_tipo.js" type="text/javascript"></script>