<div class="container">
	<h1 class="display-6">Modificar coche</h1>
	<form action="u" method="POST">
		<label for="idMarca">Modelo: </label>
		<select name="idModelo" id="idModelo">
			<option th:each="modelo:${modelos}" th:value="${modelo.id}" th:selected="${modelo.nombre == coche.modelo.nombre}" th:text="|${modelo.marca.nombre} - ${modelo.nombre}|"></option>
		</select>
		<br>
		<label for="matricula">Matrícula del coche: </label>
		<input type="text" th:value="${coche.matricula}" id="matricula" name="matricula">
		<br>
		<label for="idMarca">Ubicación: </label>
		<select name="idUbicacion" id="idUbicacion">
			<option th:each="ubicacion:${ubicaciones}" th:value="${ubicacion.idUbicacion}" th:selected="${ubicacion.direccion == coche.ubicacion.direccion}" th:text="${ubicacion.direccion}"></option>
		</select>
		<br>
		<label for="autonomiaRestante">Autonomia restante (Km): </label>
		<input type="number" th:value="${coche.autonomiaRestante}" id="autonomiaRestante" name="autonomiaRestante">
		<br>
		<input type="hidden" name="id" th:value="${coche.id}">
		<input type="submit" value="Modificar">
		<input type="button" value="Cancelar" onclick="location.href='r'">
	</form>
</div>