<div class="container">
	<h1 class="display-6">Lista de tipos de vehículo</h1>
	<button class="btn-base"><a class="enlace" href="/tipo/c">Crear nuevo tipo de vehículo</a></button>
	<button class="btn-cancelar"><a class="enlace" href="/">Volver</a></button>
</div>
</div>
	<table id="tabla" class="display tabla">
		<thead>
			<th>Nombre</th>
			<th>Modificar</th>
			<th>Borrar</th>
		</thead>
		<tr th:each="tipo:${tipos}">
			<td th:text="${tipo.nombre}"></td>
			<td>
				<form action="u" method="GET">
					<input type="hidden" name="id" th:value="${tipo.id}">
					<button onclick="submit()"><img src="/img/edit.png" height="40px" width="40px"></button>
				</form>
			</td>
			<td>
				<form action="d" method="POST">
					<input type="hidden" name="id" th:value="${tipo.id}">
					<button onclick="submit()"><img src="/img/delete.png" height="40px" width="40px"></button>
				</form>
			</td>
		</tr>
	</table>	
