<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
</head>
<body>

<h1 class="row justify-content-center container">Nueva empresa</h1>
<div class="row justify-content-center container">
	<form method="POST">
	<label for="nombreUsuario">Nombre del usuario</label>
	<input type="text" name="nombreUsuario" id="nombreUsuario" onchange='validarNombreUsuario(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
		<label for="contrasena">Contraseña</label>
	<input type="password" name="contrasena" id="contrasena" onchange='validarContrasena(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
		<label for="localidad">Localidad</label>
	<input type="text" name="localidad" id="localidad" onchange='validarLocalidad(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
		<label for="direccion">Dirección</label>
	<input type="text" name="direccion" id="direccion" onchange='validarDireccion(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
		<label for="codigoPostal">Código Postal</label>
	<input type="number" name="codigoPostal" id="codigoPostal"  onchange='validarCodigoPostal(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
		<label for="telefono">Teléfono</label>
	<input type="number" name="telefono" id="telefono" onchange='validarTelefono(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
		<label for="email">Email</label>
	<input type="email" name="email" id="email" onchange='validarEmail(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
	<input th:each="rol:${roles}" th:if="${rol.nombre == 'User'}" type="hidden" name="idRol" th:value="${rol.id}">
	<div class="w-100"></div>
	<input type="number" name="saldo" id="saldo" step="0.01" onchange='validarSaldo(this.form)' value="0" onkeyup="validar(this.form)" hidden/>
	<div class="w-100"></div>
	<label for="cif">NIF</label>
	<input type="text" name="cif" id="cif" onchange='validarCif(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
	<label for="razonSocial">Razión social</label>
	<input type="text" name="razonSocial" id="razonSocial" onchange='validarRazonSocial(this.form)' onkeyup="validar(this.form)"/>
	<div class="w-100"></div>
	<button class="btn-base" disabled id="envio" onclick="validar(this.form)">Crear</button>
	<button class="btn-cancelar"><a class="enlace" href="/">Volver</a></button>
	<br>
	</form>
</div>
<script src="/js/expRegEmpresa.js"></script>
</body>




