	<h1 class="row justify-content-center">Editar empresa</h1>
	<div class="row justify-content-center">
	<form method="post" action="/empresa/u" class="form">
	
		
		Nombre de usuario
		<input type="text" name="nombreUsuario" th:value="${empresa.nombreUsuario}"><br>
		
		Contraseña
		<input type="text" name="contrasena" th:value="${empresa.contrasena}"><br>
		
		Localidad
		<input type="text" name="localidad" th:value="${empresa.localidad}"><br>
		
		Dirección
		<input type="text" name="direccion" th:value="${empresa.direccion}"><br>
		
		Código postal
		<input type="number" name="codigoPostal" th:value="${empresa.codigoPostal}"><br>
		
		Teléfono
		<input type="number" name="telefono" th:value="${empresa.telefono}"><br>
		
		Email
		<input type="email" name="email" th:value="${empresa.email}"><br>
		
		Rol
		<input type="text" name="rol" th:value="${empresa.rol}"><br>
		
		Saldo
		<input type="number" name="saldo" th:value="${empresa.saldo}"><br>
		
		Cif
		<input type="text" name="cif" th:value="${empresa.cif}"><br>
		
		Razón social
		<input type="text" name="razonSocial" th:value="${empresa.razonSocial}"><br>
		
		<input type="hidden" name="id" th:value="${empresa.id}"/>
		
		<input type="submit" class="form-item" />
	</form>
	</div>