
<div class="container">
	<h1 class="display-6">Editar empresa</h1>
	<form method="post" action="/empresa/u" class="form">
	
		
		Nombre de usuario
		<input type="text" name="nombreUsuario" id="nombreUsuario" th:value="${empresa.nombreUsuario}" onchange='validarNombreUsuario(this.form)' onkeyup="validar(this.form)"><br>
		
		Contraseña
		<input type="password" name="contrasena" id="contrasena" th:value="${empresa.contrasena}" onchange='validarContrasena(this.form)' onkeyup="validar(this.form)"><br>
		
		Localidad
		<input type="text" name="localidad" id="localidad" th:value="${empresa.localidad}" onchange='validarLocalidad(this.form)' onkeyup="validar(this.form)"><br>
		
		Dirección
		<input type="text" name="direccion" id="direccion" th:value="${empresa.direccion}" onchange='validarDireccion(this.form)' onkeyup="validar(this.form)"><br>
		
		Código postal
		<input type="number" name="codigoPostal" id="codigoPostal" th:value="${empresa.codigoPostal}"  onchange='validarCodigoPostal(this.form)' onkeyup="validar(this.form)"><br>
		
		Teléfono
		<input type="number" name="telefono" id="telefono" th:value="${empresa.telefono}" onchange='validarTelefono(this.form)' onkeyup="validar(this.form)"><br>
		
		Email
		<input type="email" name="email" id="email" th:value="${empresa.email}" onchange='validarEmail(this.form)' onkeyup="validar(this.form)"><br>
		
		Rol
		<select name="idRol">
			<option th:each="rol:${roles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
		</select>
		
		Saldo
		<input type="number" name="saldo" id="saldo" th:value="${empresa.saldo}" onchange='validarSaldo(this.form)' onkeyup="validar(this.form)"><br>
		
		Cif
		<input type="text" name="cif" id="cif" th:value="${empresa.cif}" onchange='validarCif(this.form)' onkeyup="validar(this.form)"><br>
		
		Razón social
		<input type="text" name="razonSocial" id="razonSocial" th:value="${empresa.razonSocial}" onchange='validarRazonSocial(this.form)' onkeyup='validar(this.form)'><br>
		
		<input type="hidden" name="id" th:value="${empresa.id}"/>
		
		<input class="btn-base" type="submit" id="envio" class="form-item" onclick="validar(this.form)"/>
		<button class="btn-cancelar"><a class="enlace" href="/">Volver</a></button>
	</form>
	</div>
	<script src="/js/expRegEmpresa.js"></script>
