<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
</head>
<body>
<div class="container">
	<h1 class="display-5">Quienes sómos</h1>

	Presente en <b>España</b> desde enero de <b>2015</b>, <b>IShare</b> es la empresa de coche compartido que más ha crecido en numeros de usuarios en menos tiempo (3 millones sólo en Madrid).<br> 

Nuestro servicio te permite realizar trayectos cortos a precios económicos.<br>

La tarifa que ofrecemos es de 0,18 euros por kilómetro, apropiada para la compartición de gastos inherentes a la conducción (gasolina, peaje, mantenimiento, seguros, impuestos, etc.)<br>

Limitando la aportación máxima que pueden solicitar los conductores de tal manera que no se superen estos gastos<br>

</div>
</body>