<div class="container">
	<h1>Lista de empresas</h1>

	<a class="enlace" href="/empresa/c">
		<button class="btn-base">Crear</button>
	</a> <a href="/">
		<button class="btn-cancelar">Cancelar</button>
	</a>
</div>
</div>
	<table id="tabla" class="display table-responsive-sm tabla">
		<thead>
			<th>Nombre del Usuario</th>
			<th>Contrasena</th>
			<th>Localidad</th>
			<th>Dirección</th>
			<th>Código Postal</th>
			<th>Teléfono</th>
			<th>Email</th>
			<th>Rol</th>
			<th>Saldo</th>
			<th>Cif</th>
			<th>Razón social</th>
			<th>Acciones</th>
		</thead>

			<tr th:each="empresa:${empresas}">
			<td th:text="${empresa.nombreUsuario}"></td>
			<td th:text="${empresa.contrasena}"></td>
			<td th:text="${empresa.localidad}"></td>
			<td th:text="${empresa.direccion}"></td>
			<td th:text="${empresa.codigoPostal}"></td>
			<td th:text="${empresa.telefono}"></td>
			<td th:text="${empresa.email}"></td>
			<td th:text="${empresa.rol.nombre}"></td>
			<td th:text="${empresa.saldo}"></td>
			<td th:text="${empresa.cif}"></td>
			<td th:text="${empresa.razonSocial}"></td>
			<td class="row">
				<form action="/empresa/u" method="get">
					<input type="hidden" name="id" th:value="${empresa.id}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form>
				<form action="/empresa/d" method="post">
					<input type="hidden" name="id" th:value="${empresa.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
			</td>
		</tr>

	</table>
