<meta charset=UTF-8>
<script src="/js/Validar_ubicacion.js"></script>
<style>
	input:valid{
		border-color: black;
	}

	input:invalid{
		border-color:red;
	}
	*:focus { outline: none; } 
</style>
<div class="container alinear">
	<h1>Nueva ubicación</h1>
	
	<form method="post">
		<label class="etiq" for="direccion">DIRECCIÓN</label>
		<input type="text" id="direccion" name="direccion" style="border-color:red" onkeyup="validar()">
		<br/>
		<label class="etiq" for="plazasTotales">PLAZAS TOTALES</label>
		<input type="number" id="plazasTotales" name="plazasTotales" min="1" onchange="validar()" required/>
		<br/>
		
		<input class="btn-base" type="submit" id="enviar" disabled/>
		<input class="btn-cancelar" type="button" value="Cancelar" onclick="location.href='r'">
	</form>
</div>
</div>