<meta charset=UTF-8>
<div class="container">
	<h1 class="display-6">Listado de ubicaciones</h1>
	<button class="btn"><a href="/ubicacion/c">Crear nueva ubicación</a></button>
	<button class="btn"><a href="/">Volver</a></button>



	<table class="table">
		<tr>
			<th>Dirección</th>
			<th>Plazas totales</th>
			<th>Modificar</th>
			<th>Borrar</th>
		</tr>

		<tr th:each="ubicacion:${ubicaciones}">
			<td th:text="${ubicacion.direccion}"></td>
			<td th:text="${ubicacion.plazasTotales}"></td>
			<td>

				<form action="/ubicacion/u">
					<input type="hidden" name="idUbicacion" th:value="${ubicacion.idUbicacion}" />
					<button onclick="submit()" onmouseover="" style="cursor: pointer;"><img src="/img/edit.png" height="20px" width="20px">
					</button>
				</form>
			</td>
			<td>
				<form action="/ubicacion/d">
					<input type="hidden" name="idUbicacion" th:value="${ubicacion.idUbicacion}" />
					<button onclick="submit()" onmouseover="" style="cursor: pointer;"><img src="/img/delete.png" height="20px" width="20px">

					</button>
				</form>

			</td>
		</tr>


	</table>

</div>