<meta charset=UTF-8>
<script src="/js/Validar_ubicacion.js"></script>
<style>
	input:valid{
		border-color: black;
	}

	input:invalid{
		border-color:red;
	}
	*:focus { outline: none; } 
</style>
<div class="container alinear">
	<h1 class="display-6">Editar ubicación</h1>
	
	<form method="post">
		<label class="etiq" for="direccion">DIRECCIÓN</label>
		<input type="text" th:value="${ubicacion.direccion}" id="direccion" name="direccion" onkeyup="validar()"/>
		<br/>
		<label class="etiq" for="plazasTotales">PLAZAS TOTALES</label>
		<input type="number" th:value="${ubicacion.plazasTotales}"id="plazasTotales" name="plazasTotales" min="1" onchange="validar()" required />
		<br/>

		
		<input type="hidden" name="idUbicacion" th:value="${ubicacion.idUbicacion}"/>
		<input class="btn-base" type="submit" id="enviar"/>
		<input class="btn-cancelar" type="button" value="Cancelar" onclick="location.href='r'">
	</form>
</div>
</div>