<h1 class="row justify-content-center">Nuevo particular</h1>

<div class="row justify-content-center">
	<form method="POST">
	<label for="nombreUsuario">Nombre del usuario</label>
	<input type="text" name="nombreUsuario" id="nombreUsuario" />
	<div class="w-100"></div>
		<label for="contrasena">Contraseña</label>
	<input type="text" name="contrasena" id="contrasena" />
	<div class="w-100"></div>
		<label for="localidad">Localidad</label>
	<input type="text" name="localidad" id="localidad" />
	<div class="w-100"></div>
		<label for="direccion">Direccion</label>
	<input type="text" name="direccion" id="direccion" />
	<div class="w-100"></div>
		<label for="codigoPostal">Código Postal</label>
	<input type="number" name="codigoPostal" id="codigoPostal" />
	<div class="w-100"></div>
		<label for="telefono">Teléfono</label>
	<input type="number" name="telefono" id="telefono" />
	<div class="w-100"></div>
		<label for="email">Email</label>
	<input type="email" name="email" id="email" />
	<div class="w-100"></div>
		<label for="rol">Rol</label>
	<input type="text" name="rol" id="rol" />
	<div class="w-100"></div>
		<label for="saldo">SALDO</label>
	<input type="number" name="saldo" id="saldo" step="0.01"/>
	<div class="w-100"></div>
	<label for="dni">DNI</label>
	<input type="text" name="dni" id="dni" />
	<div class="w-100"></div>
	<label for="nombre">Nombre</label>
	<input type="text" name="nombre" id="nombre"/>
	<div class="w-100"></div>
	<label for="apellidos">Apellidos</label>
	<input type="text" name="apellidos" id="apellidos"/>
	<div class="w-100"></div>
	<label for="fechaNacimiento">Fecha de nacimiento</label>
	<input type="Date" name="fechaNacimiento" id="fechaNacimiento"/>
	<div class="w-100"></div>
	<button class="btn btn-primary">Crear</button>
	<br>
	</form>
</div>