<div class="container">
	<h1>Lista de particulares</h1>

	<a class="enlace" href="/particular/c">
		<button class="btn-base">Crear</button>
	</a> <a href="/">
		<button class="btn-cancelar">Cancelar</button>
	</a>
</div>
</div>
	<table id="tabla" class="display table-responsive-sm tabla">
		<thead>
			<th>DNI/NIE</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Fecha de nacimiento</th>
			<th>Rol</th>
			<th>Acciones</th>
		</thead>

		<tr th:each="particular:${particulares}">
			<td th:text="${particular.dni}"></td>
			<td th:text="${particular.nombre}"></td>
			<td th:text="${particular.apellidos}"></td>
			<td th:text="${particular.fechaNacimiento}"></td>
			<td th:text="${particular.rol.nombre}"></td>
			<td class="row">
				<form action="/particular/u" method="get">
					<input type="hidden" name="id" th:value="${particular.id}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form>
				<form action="/particular/d" method="post">
					<input type="hidden" name="id" th:value="${particular.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button>
				</form>
			</td>
		</tr>

	</table>