<meta charset=UTF-8>
</div>
<!--FIN DEL BODY-->
<div class="container-fluid py-5 pie-de-pagina-a">
	<div class="row">
		<div class="col-6 col-sm">
			<img src="/img/resources/logotipo_3.png" alt="ishare" width="100px">
			<h5>© ISHARE 2021</h5>
		</div>
		<div class="col-6 col-sm">
			<h5>POLÍTICAS VARIAS</h5>
			<ul class="list-unstyled text-small">
				<li><a class="enlace" href="/politicasC">Política de Cookies</a></li>
				<li><a class="enlace" href="/terminosC">Términos y condiciones</a></li>
				<li><a class="enlace" href="/privacidadP">Política de privacidad</a></li>
				<li><a class="enlace" href="/preciosP">Política de precios</a></li>
				<li><a class="enlace" href="/faq">Preguntas frecuentes</a></li>
				<li><a class="enlace" href="/ecoTierra">Nos comprometemos con la Tierra</a></li>
			</ul>
		</div>
		<div class="col-6 col-sm">
			<h5>MENÚ</h5>
			<ul class="list-unstyled text-small">
				<li><a class="enlace" href="/">HOME</a></li>
				<li><a class="enlace" href="/">NUESTRAS TARIFAS</a></li>
				<li><a class="enlace" href="/">ALQUILA UN VEHÍCULO</a></li>
				<li><a class="enlace" href="/">CONOCE A LA FLOTA</a></li>
				<li><a class="enlace" href="/">ENCUÉNTRANOS</a></li>
			</ul>
		</div>
	</div>
</div>
<footer class="pie-de-pagina-b">
	APLICACIÓN ISHARE - PROYECTO DE FIN DE GRADO DAW2
</footer>