<meta charset=UTF-8>
<header th:if="${#httpServletRequest.requestURI == '/'}" class="cabecera">
<div class="portada">
	<img class="portada" src="/img/resources/portada.jpg" alt="portada">
	<div class="container cabezaEspecial">
	<div class="row align-items-center">
		<div class="col-sm-12 col-md-2 logo-container">
			<img class="logo" src="/img/resources/logotipo_3.png" alt="logo">
		</div>
		<div class="col-sm-12 col-md-10">
		<h1 class="display-3 texto-logo">Ishare - lo mejor en car sharing</h1>
		</div>
	</div>
		<!--<div th:if="${session.user != null}">
			Hola <span th:text="|${session.user.nombreUsuario} (${session.user.rol.nombre}) |"/> / 
			<a href="/logout">LOGOUT</a>
		</div>-->
	</div>
</div>
</header>
<div class="capsula">
<!--</header>-->