<meta charset=UTF-8>
<header th:if="${#httpServletRequest.requestURI == '/'}" class="cabecera">
<div class="portada">
	<img class="portada" src="/img/resources/portada.jpg" alt="portada">
	<div class="norow">
	<div class="d-flex justify-content-center titulo">
		<div class="logo-container">
			<img class="logo" src="/img/resources/logotipo_3.png" alt="logo">
		</div>
		<h1 class="display-2 texto-logo">Ishare - pioneros en leasing</h1>
	</div>
		<!--<div th:if="${session.user != null}">
			Hola <span th:text="|${session.user.nombreUsuario} (${session.user.rol.nombre}) |"/> / 
			<a href="/logout">LOGOUT</a>
		</div>-->
	</div>
</div>
</header>
<div class="capsula">
<!--</header>-->