<meta charset=UTF-8>
<!--INICIO DEL NAV-->
<nav class="navbar navbar-expand-sm navbar-dark sacar-por-delante barra-nav">
	<!--PARTE IZQUIERDA DEL NAV-->
	<div class="mx-auto order-0">
		<a class="navbar-brand" href="/">
	    	<img src="/img/resources/logotipo_3.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    	ISHARE
  		</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
    		<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/tarifas"> NUESTRAS TARIFAS </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/coche/alquilar"> ALQUILA UN VEHÍCULO </a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				SOBRE NOSOTROS
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/donde"> ENCUÉNTRANOS </a>
					<a class="dropdown-item" href="/flota"> CONOCE LA FLOTA </a>
					<a class="dropdown-item" href="/faq"> PREGUNTAS FRECUENTES </a>
					<a class="dropdown-item" href="/ecoTierra"> DEFENDEMOS LA TIERRA </a>
				</div>
			</li>
			<li th:if="${session.user != null and session.user.rol.nombre == 'Admin'}" class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				ADMINISTRAR
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/marca/r"> MARCAS </a>
					<a class="dropdown-item" href="/tipo/r"> TIPOS DE VEHÍCULOS </a>
					<a class="dropdown-item" href="/modelo/r"> MODELOS </a>
					<a class="dropdown-item" href="/coche/r"> COCHES DE LA FLOTA </a>
					<a class="dropdown-item" href="/ubicacion/r"> UBICACIONES </a>
					<a class="dropdown-item" href="/rol/r"> ROLES </a>
					<a class="dropdown-item" href="/empresa/r"> EMPRESAS </a>
					<a class="dropdown-item" href="/particular/r"> PARTICULARES </a>
					<a class="dropdown-item" href="/administracion"> VER MENÚ </a>
				</div>
			</li>
		</ul>
	</div>
	<!--PARTE CENTRAL DEL NAV-->
	<!--<div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">ISHARE - CARSHARING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>-->
	<!--PARTE DERECHA DEL NAV-->
	<div class="navbar-collapse collapse order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto">
		<li th:if="${session.user == null}" class="nav-item">
			<a class="nav-link" href="/login"> LOGIN </a>
		</li>
		<li th:if="${session.user == null}" class="nav-item">
			<a class="nav-link" href="/registro"> REGISTRO </a>
		</li>
		<li th:if="${session.user != null}" class="nav-item">
			<form class="form-hidden" action="/recarga-tokens" id="recargarTokens">
				<input type="hidden" name="id" th:value="${session.user.id}" />
				<a class="nav-link" onclick="document.getElementById('recargarTokens').submit();" th:text="|${#httpSession.getAttribute('saldo')} Tokens|"style="cursor: pointer;"></a>
			</form>
		</li>
		<li th:if="${session.user != null}" class="nav-item">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				MI PERFIL
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<form class="form-hidden" action="/editar-perfil" id="editarPerfil">
						<input type="hidden" name="id" th:value="${session.user.id}" />
						<a class="dropdown-item" onclick="document.getElementById('editarPerfil').submit();"style="cursor: pointer;">MIPERFIL</a>
					</form>
					<form class="form-hidden" action="/recarga-tokens" id="recargarTokens2">
						<input type="hidden" name="id" th:value="${session.user.id}" />
						<a class="dropdown-item" onclick="document.getElementById('recargarTokens2').submit();"style="cursor: pointer;">RECARGAR TOKENS</a>
					</form>
					<form class="form-hidden" action="/logout" id="logout">
						<input type="hidden" name="id" th:value="${session.user.id}" />
						<a class="dropdown-item" onclick="document.getElementById('logout').submit();" style="cursor: pointer;">LOGOUT</a>
					</form>
				</div>
		</li>
		</ul>
	</div>
</nav>


<!--FIN DEL NAV-->